<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/561da19351.js" crossorigin="anonymous"></script>

</head>
    <body>
            <!-- Incluindo a navbar do arquivo header.ejs na página -->
        <%- include("partials/header.ejs")%>
        <div class="container" style="padding: 0; margin: 140px;">
            
            <!-- Dividindo a tela em duas partes Area1 e Area2 -->
            <div class="row" style="margin-left: 180px; margin-bottom: 80px;">

                <!-- Area1 -->
                <div class="col-1 area1">
                    <div class="a1-titulo">
                        <h1>
                            <div>
                                <span class="">Venha</span>
                                <span style="color: #C25E84;">Transformar </span>
                            </div>
                            <div>
                                <span> Sua  Ideia em </span>
                                <span style="color: #C25E84;">Realidade</span>
                            </div>
                        </h1>
                    </div>
                    <div class="a1-btn">
                        <a href="/templates_page" class="btn text-center btn-c25e84 shadow-none" style="width: 14vw; height: 6vh; margin-bottom:5px; color:#FFFFFF;">Comece a criar</a> <br>
                        <a href="/explore_page" class="btn text-center btn-fcd074 shadow-none" style="width: 10vw; height: 4vh; padding: 0;color:#FFFFFF;">Explore ideias</a>
                    </div>
                </div>

                <!-- Area2 -->
                <div class="col-2 area2">
                    <a href="/templates_page" class="text-decoration-none">
                        <h3>Criar</h3>
                        <img src="/img/linniê_logo_TCC_-_VERSÃO_3.png" class="rounded" alt="LINNIEEEE" style="height: 38vh; width: auto;">
                    </a>
                    <a href="/explore_page" class="text-decoration-none">
                        <h3>Explore</h3>
                        <img src="/img/amigo_do_lin_-_VERSÃO_2.png" alt="LINNIEEEE" style="height: 33vh; width: auto;">
                    </a>
                </div>
            </div>

            <img src="/img/molde.png" alt="molde" class="molde">
            <h1 class="text-center" style="margin-left: 18vw; margin-bottom: 10vh; font-family: gotu; font-size: 4vw;">Desenvolvedores</h1>
            <div class="row d-flex" style="width: 90vw;">
                <% for ($i=0; $i < 5; $i++) { %>
                    <div class="col">
                        <div class="card">
                            <img src="/img/cara.png" alt="" class="card-img">
                            <div class="membros text-center">
                                <h1 class="nome">Victor</h1>
                                <h2 class="sobrenome">Nadalini</h2>
                                <p class="funcao">Faz-Tudo</p>
                            </div>
                        </div>
                    </div>
                <% }%>
            </div>

        </div>
    </body>
</html>