<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Perfil</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <script src="/bootstrap/js/bootstrap.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user.css">

    
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/561da19351.js" crossorigin="anonymous"></script>

</head>
<body>
    <!-- Incluindo a navbar na página -->
    <%- include("partials/header.ejs")%>
<!-- Corpo da pagina -->
        <div class="container-fluid">
            <div class="row">
            <!-- Informações do Perfil -->
                <div class="col-sm-5 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-5 sidebar">

                    <div class="row d-flex justify-content-center">
                        <img src="/img/avatar_2.png" alt="foto de Perfil inteira" style="width: 16vw; margin-bottom: 30px;"> 
                    </div>

                    <div class="row d-flex justify-content-center">
                        <a href="/useredit_page" class="btn btn-fcd074 mb-4 fs-5" style="width: 14vw;">Editar Perfil</a>
                    </div>

                    <div class="row d-flex justify-content-center">
                        <p class="fs-5">dignissimos accusamus reiciendis provident commodi cum quod facere molestias aliquam cupiditate?</p>
                    </div>
                    <div class="row">
                        <img src="/img/máquina de costura simples simples simples.png" alt="">
                    </div>
                </div>
                <!-- Área de Porfólio -->
                <div class="col pb-3 portfolio">
                    <div class="row p-3">
                        <!-- Projetos -->
                        <h1 class="ms mb-5 text-center">Portfólio</h1>
                        <!-- Cards representando os projetos -->
                        <% for ($i=0; $i < 12; $i++) {%>
                        <div class="col-sm-7 col-md-6 col-lg-4 col-xl-4 col-xxl-4 mb-5">
                            <div class="shadow-lg card card-link">
                                <a href="">
                                        <img src="/img/ex_post.png" alt="Exemplo de postagem">
                                        <div class="borda mask card-img-overlay"></div>
                                </a>
                            </div>
                        </div>
                        <% }%>
                    </div>
                </div>

            </div>
        </div>
        <a href="/templates_page" class="create-btn">
            <img src="/img/botao.png" alt="" class="img-btn">
            <img src="/img/botao_2.png" alt="" class="img-btn-hv">
        </a>
</body>
</html>