
        .sidebar{
            border-right: 5px solid rgba(117, 117, 117, 0.404);
        }
        .portfolio{
            padding: 50px 4vw;
        }
        .portfolio h1{
            font-family: 'Tommy'; font-size:3.5vw;
        }
        .card, .card img{
            margin: 0;
            height: auto;
            width: 17vw;
            min-width: 216px;
            border-radius: 12px;
        }
        .borda{
            border: 4px dashed black;
            border-radius: 12px;
            margin: 9px;
            height: auto;
            width: 16vw;
            min-width: 200px;
        }

        /* Botão de Criação */
        .create-btn{
            display: block; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            color: #C25E84;
            background-color: transparent;
            bottom: 100px; /* Place the button at the bottom of the page */
            right: 120px; /* Place the button 30px from the right */
            z-index: 3; /* Make sure it does not overlap */
            border-radius: 10px; /* Rounded corners */
            font-size: 80px;
        }
        .create-btn .img-btn-hv{
            display: none;
        }
        .create-btn:hover .img-btn{
            display: none;
        }
        .create-btn:hover .img-btn-hv{
            display: block;
        }